@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";


.tools {
  @apply relative m-auto flex h-72 w-2/3 items-center border-b-4 border-white justify-center shadow-2xl md:h-56 md:w-full;
  .start {
    @apply absolute inset-0 bg-cover bg-center bg-no-repeat;
  }

  .action {
    @apply absolute inset-0 z-10 flex flex-col bg-gradient-to-b from-light-blue/90 to-blue/90 items-center justify-center px-3 font-bold text-night opacity-0 duration-300 hover:opacity-100;
  }
}

.triangle {
  height : 0;
  width : 0;
  border-top : 90px solid white;
  border-right : 150px solid transparent;
  border-left : 160px solid transparent;
}

.triangle-mobile {
  height : 0;
  width : 0;
  border-top : 50px solid white;
  border-right : 100px solid transparent;
  border-left : 110px solid transparent;
}

.container-big {
  @apply 4xl:container 4xl:mx-auto;
}